<section class="card">
        <header>{{product.name}}</header>
        <img src="{{product.path}}" alt="TSHIRT" width="400" height="200" />
        <h2>{{product.price}}</h2>
        <description>{{product.description}}</description>
        
      </section>