<div>
    <h2>About Us</h2>
    <p>
        JIBstudios founded in Toronto in 2022 is a web development company that makes user friendly web designs that are
        minimalistic, responsive and effective.

    </p>
    <p>

        We focus on designs that are meant to increase sales. Our easy flowing
        designs allow your users to efficiently shop online creating an increase in product sales.
    </p>
</div>