<h2>Your Orders</h2>

<ul id='order-list'>
    {{#if orders.length}}
        {{#each orders as |order|}}
            {{> single-order}}
        {{/each}}
    {{else}}
        <div> You have no orders!</div>
    {{/if}}
</ul>

<script src="/js/orders.js"></script>