<h2>Order#{{order.id}}: {{order.product_orders.0.name}}</h2>

<ul id='order-list'>
    {{#if order.product_orders.length}}
        {{#each order.product_orders as |product|}}
            {{> order-product}}
        {{/each}}
    {{else}}
        <div> This order has no products!</div>
    {{/if}}
</ul>

<script src="/js/order.js"></script>