<div class='product-card'>
  <div class='product-card-header'>
    {{name}}
  </div>
  <div class='product-card-body'>
    {{! image link }}
    <p>
      Description:
      {{product.description}}
    </p>
   <p>
        {{price.price}}
   </p> 
</div>
</div>
{{!-- Add to Cart --}}

      {{price}}
    </p>
  </div>
</div>
{{!-- Add to Cart --}}

