<div class="product-card">
<div class="product-card-header">
    {{name}}
</div>
<div class="product-card-body">
    <p>
        Description:
        {{Description}}   
    </p>
   <p>
        {{price}}
   </p> 
</div>
</div>