<div class="product-card">
<div class="product-card-header">
    {{product.name}}
</div>
<div class="product-card-body">
<img src="{{product.path}}" alt="Product001" width="400" height="200">
    <p>
        Description:
        {{product.description}}   
    </p>
   <p>
        {{price.price}}
   </p> 
</div>
</div>
{{!-- Add to Cart --}}

