:root {
  --hover-black: rgb(90, 90, 90);
  --black: black;
  --mustard: #aa7b04;
  --darkgrey: #333;
}

* {
  margin: 0;
  padding: 5;
  box-sizing: border-box;
  border-style: none;
  /* color: white; */
}

body {
  background-color: var(--black);
}

h1 {
  font-family: 'Oooh baby', Tahoma;
  font-size: 100px;
  color: #aa7b04;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  background-color: var(--black);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px 14px;
  padding-bottom: 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: var(--dark-black);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #aa7b04;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.home-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  max-height: 200vh;
  text-align: center;
  margin: auto;
  border-style: none;
  padding: 14px 16px;
  background-color: white;
  color: black;
}

/* main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  background-color: var(--other-black);
} */

main h2 {
  margin: 0 auto;
  padding-bottom: 10px;
}

body {
  background-color: var(--other-black);
}

.footer {
  /* position: fixed; */
  /* left: 0; */
  /* bottom: 0; */
  width: 100%;
  background-color: var(--dark-black);
  color: white;
  text-align: center;
  /* margin-top: 50px; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #080808 !important;
  color: #fff;
  line-height: 1.6;
  text-align: center;
}

#order-list li {
  list-style: none;
  width: 80%;
  margin-left: 10%;
}

#order-list li:hover {
  background-color: var(--hover-black);
  cursor: pointer;
}

#order-list li {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--darkgrey);
  margin-bottom: 10px;
}
#order-list li img {
  width: 30px;
  padding-right: 10px;
}
