<head>
    <meta charset="UTF-8">
    <title>Your Store</title>
    <link rel="stylesheet" href="../public/css/store.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex jusitfy-space-between aign-center p-2"></header>
        <h1>
            YourStore
        </h1>
        </header>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#cart">News</a>
            <a href="#orders">Contact</a>
            <div class="topnav-right">
                <a href="#contactus">Search</a>
                <a href="#about">About</a>
            </div>
            <main class="container container-fluid mt-5">
                {{{ body }}}
                <div class="product-card">
                    <div class="product-card-header">
                        {{name}}
                    </div>
                    <div class="product-card-body">
                        <img src="../public/images/jibshirt1.png" alt="T-shirt">
                        <p>
                            Description:
                            {{Description}}
                        </p>
                        <p>
                            {{price}}
                        </p>
                    </div>
                    <div class="product-card">
                        <div class="product-card-header">
                            {{name}}
                        </div>
                        <div class="product-card-body">
                            <img src="../public/images/jibshirt1.png" alt="T-shirt">
                            <p>
                                Description:
                                {{Description}}
                            </p>
                            <p>
                                {{price}}
                            </p>
                        </div>
                    </div>
            </main>
        </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/js/store.js"></script>

</html>